
    <!-- USE TEMPLATE OF BASE.HTML -->
{% extends 'base.html' %}

    <!-- TEMPLATE FOR TODO LIST PAGE -->
{% block content %}

    <div class="header">
        <img src="{{ url_for('static', filename='icons/ToDoApp.png') }}" style="height:50px; padding-right: 15px" >
        <h1>ToDoApp</h1>
    </div>

    <h3>{{ utc_dt }}</h3>
    <hr>
    <div class="content">
    <form method="post">
        <!-- INPUTS TO CREATE AN ELEMENT TODO -->
        <p>
            <b><label for="content">Todo Content</label></b>
        </p>
        <p>
            <input type="text" name="content"
                placeholder="Todo Title"></input>
        </p>
        <p>
            <input type="text" name="date"
                placeholder="Date"></input>
        </p>
        <p>
            <textarea type="text" name="description"
                placeholder="Description"></textarea>
        </p>
        <p>
            <input type="text" name="phone_number"
                placeholder="Phone Number"></input>
        </p>
        <p>
            <input type="text" name="maps"
                placeholder="Maps Location"></input>
        </p>

        <p>
            <b><label for="degree">Degree</label></b>
        </p>
        <p>
            <input id="degree-0" name="degree" required type="radio" value="Important">
            <label for="degree-0">Important</label>
        </p>
        <p>
            <input id="degree-1" name="degree" required type="radio" value="Unimportant">
            <label for="degree-1">Unimportant</label>
        </p>
        <!-- INPUT TO CONFIRM CREATION -->
        <button type="submit">Create</button>
    </form>

        <!-- COMBOBOX TO FILTER ELEMENTS BY IMPORTANCE (raise an event in the 'script' section) -->
    <div class="combobox">
        <label for="combobox">Show elements:</label>
        <select name="showelements" id="showelements">
            <option value="all">All</option>
            <option value="imp">Only Importants</option>
            <option value="unimp">Only Unimportants</option>
        </select>
    </div>
    <hr>


        <!-- for loop to display elements (give a class to the item if important or unimportant, used to filters) -->
    {% for todo in todos %}

        <!-- display elements of degree important by giving it a class 'important' -->
        {% if todo['degree'] == "Important" %}
        <div class="important">
            <p><h3>{{ todo['content'] }}</h3>
            <a href="{{ url_for('edit', id=todo['_id']) }}">Edit element</a>
            <h4><i>({{ todo['degree']}})</i></h4></p>
            <h6>{{ todo['date'] }}</h6>
            <h6>{{ todo['description'] }}</h6>
            <h6>{{ todo['phone_number'] }}</h6>

            <form class="delete" method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                <input class="delete-button" type="submit" value="Delete Task"
                       onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
        </div>

        <!-- display elements of degree unimportant by giving it a class 'unimportant' -->
        {% else %}
        <div class="unimportant">
            <p><h3>{{ todo['content'] }}</h3>
            <a href="{{ url_for('edit', id=todo['_id']) }}">Edit element</a>
            <h4><i>({{ todo['degree']}})</i></h4></p>
            <h6>{{ todo['date'] }}</h6>
            <h6>{{ todo['description'] }}</h6>
            <h6>{{ todo['phone_number'] }}</h6>
            <a href="{{ todo['maps'] }}" target="_blank">{{ todo['maps'] }}</a>

            <form class="delete" method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                <input class="delete-button" type="submit" value="Delete Task"
                       onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
        </div>
        {% endif %}
    {% endfor %}

    </div>

    <script>


    // SCRIPT FOR FILTERING TODOS OBJECTS

    // get important todos using their class
    const importants = document.getElementsByClassName("unimportant");

    // get unimportant todos using their class
    const unimportants = document.getElementsByClassName("important");

    // get combobox to get the filter choice of the user
    combobox = document.getElementById("showelements");

    // if there is an event raised :
    combobox.addEventListener('click', function(e) {
        // if the user selected all -> show all elements as a block
        if (combobox.value === 'all'){
            for (var i = 0;i<importants.length;i++){
                importants.item(i).style.display = 'block';
            }
            for (var i = 0;i<unimportants.length;i++){
                unimportants.item(i).style.display = 'block';
            }
        }
        // if the user selected imp -> show important elements as a block
        if (combobox.value === 'imp'){
            for (var i = 0;i<importants.length;i++){
                importants.item(i).style.display = 'none';
            }
            for (var i = 0;i<unimportants.length;i++){
                unimportants.item(i).style.display = 'block';
            }
        }
        // if the user selected unimp -> show unimportants elements as a block
        if (combobox.value === 'unimp'){
            for (var i = 0;i<importants.length;i++){
                importants.item(i).style.display = 'block';
            }
            for (var i = 0;i<unimportants.length;i++){
                unimportants.item(i).style.display = 'none';
            }
        }
        else{
            console.log("Error when changing filter");
        }
    })


    editform = document.getElementsByClassName("edition");




    /*
    while (true){
        var choice = document.getElementById("showelements").value;

        if (choice == 'all'){
            for (const item in document.getElementsByClassName("todo-unimportant")) {
                item.style.visibility = 'block';
            }
            for (const item in document.getElementsByClassName("todo-important")) {
                item.style.visibility = 'block';
            }
        }
        else if (choice == 'imp'){
            for (const item in document.getElementsByClassName("todo-important")) {
                item.style.visibility = 'block';
            }
            for (const item in document.getElementsByClassName("todo-unimportant")) {
                item.style.visibility = 'none';
            }
        }
        else{
            for (const item in document.getElementsByClassName("todo-important")) {
                item.style.visibility = 'none';
            }
            for (const item in document.getElementsByClassName("todo-unimportant")) {
                item.style.visibility = 'block';
            }
        }
    }
    */


    </script>

{% endblock %}